#home {
  height: 100%;

  #home_header {
    color: #fff;
    padding: 20px;
    height: $headerHeight !important;
    background-color: $mainBg;
    box-sizing: border-box;
    @extend .clearfix;

    .menu {
      float: right;
      @extend .clearfix;
      line-height: calc(#{$headerHeight} - 20px * 2);


      .menu_item {
        float: left;
        cursor: pointer;
        padding: 0px 20px;
        color: #fff;


        &:hover {
          color: antiquewhite;
        }
      }
    }
  }

  #home_content {
    height: calc(100% - #{$headerHeight} - #{$footerHeight});
  }


  #home_footer {
    color: #fff;
    height: $footerHeight !important;
    background-color: $mainBg;
  }

}
