/*******************************************
 *  字体
 *******************************************/
$fontName: 'Microsoft YaHei', Arial, '微软雅黑', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, 'PingFang SC', sans-serif;

$mainBg: #2c3e50;
$adminContentBg: #fff;
$dashboardContentBg: #eee;


$footerHeight: 80px;
$headerHeight: 80px;
$adminMenuWidth: 12%;
$adminMenuMinWidth: 240px;
$adminContentMinWidth: 1000px;



$dashboardContentWidth: 70%;
$dashboardContentMinWidth: 800px;
$dashboardContentCardWidth: 80%;
